<%= render "partials/header-sign" %>

<div class="container">
		<div class="row profile">
			<div class="col-sm-3">
				<h2 class="text-center">PUBLIER</h2><hr>
                <%= render "partials/form" %>
			</div>
			<div class="col-sm-9 body-profile">
				<h3 class="text-center">LISTE DES PUBLICATIONS</h3><hr>
                <div class="row">
					<div class="col-md-6">
						<div class="panel panel-primary">
							<div class="panel-heading">
                                <h3 class="panel-title">DOSSOU Jean</h3>
							    <h3 class="panel-title">20-11-2021 à 08:54</h3>
							</div>
							<div class="panel-body text-center">
                                <p class="text-justify">
									Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum, consectetur? Dolore provident cum velit quae cumque doloremque veniam amet libero, expedita ipsa dolorum, aliquam similique iure eius maxime suscipit atque!
								</p>
								<img src="/images/maths.jpg" alt="" height="150px">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row" style="height: 65px"></div>
</div>

<%= render "partials/footer" %>